<h2>
    Column and Pie Chart
</h2>
    	<div google-chart chart="columnChartObject" style="height:600px; width:100%;"></div>
		<div google-chart chart="pieChartObject" style="height:600px; width:100%;"></div>